@layer components {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: --spacing(2) --spacing(4);
    width: 100%;

    & > * {
      width: 100%;
    }
  }
}