table {
  border-collapse: separate;
  border-spacing: 0 --spacing(0.5);
  width: 100%;

  & > tbody > tr:not(.summary-row):hover {
    background: var(--color-content-hover);
  }

  & th {
    color: var(--color-header);
  }

  &.animate-pulse td {
    padding-left: --spacing(2);
    padding-right: --spacing(2);

    & > div.skeleton {
      background: var(--color-content-neutral);
      border-radius: calc(infinity * 1px);
      width: 100%;
      height: --spacing(3);
      margin: --spacing(1.5) 0;
    }
  }
}
