
table {
  border-collapse: separate;
  border-spacing: 0 --spacing(0.5);
  width: 100%;

  & > tbody > tr:not(.summary-row):hover {
    background: var(--color-content-hover);
  }

  & th {
    color: var(--color-header);
  }
}
